.NavLink{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.NavLink:hover {
background-color: #EA5455;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
